@model UserEditViewModel
@{
    ViewBag.Title = UserLocalizer.GetLocalizedString("lbl_EditUser");
    Layout = "_Layout";
} 
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex align-items-center">
            <h3 class="page-title">@ViewBag.Title</h3>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="User" asp-action="Index">@Localizer.GetLocalizedString("btn_User")</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Localizer.GetLocalizedString("btn_Edit")</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Email">@UserLocalizer.GetLocalizedString("lbl_Email")</label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Fullname">@UserLocalizer.GetLocalizedString("lbl_Fullname")</label>
                                    <input asp-for="Fullname" class="form-control" autofocus/>
                                    <span asp-validation-for="Fullname" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Address">@UserLocalizer.GetLocalizedString("lbl_Address")</label>
                                    <input asp-for="Address" class="form-control" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Phone">@UserLocalizer.GetLocalizedString("lbl_Phone")</label>
                                    <input asp-for="Phone" type="number" class="form-control" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ImageFile">@UserLocalizer.GetLocalizedString("lbl_Image")</label>
                                    <input asp-for="ImageFile" type="file" class="form-control-file" />
                                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="StoreId">@UserLocalizer.GetLocalizedString("lbl_Store")</label>
                                    <select asp-for="StoreId" class="form-control" asp-items="ViewBag.StoreId"></select>
                                    <span asp-validation-for="StoreId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Role">@UserLocalizer.GetLocalizedString("lbl_Role")</label>
                                    <input asp-for="Role" class="form-control" />
                                    <span asp-validation-for="Role" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="IsActive">@UserLocalizer.GetLocalizedString("lbl_IsActive")</label>
                                    <input type="checkbox" asp-for="IsActive" class="form-control"/>
                                    <span asp-validation-for="IsActive" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <a class="btn btn-cyan" asp-action="Index">@Localizer.GetLocalizedString("btn_Back")</a>
                                    <button type="submit" class="btn btn-primary">@Localizer.GetLocalizedString("btn_Save")</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>