@model IEnumerable<BrandViewModel>
@{
    ViewBag.Title = BrandLocalizer.GetLocalizedString("lbl_Brand");
    Layout = "_Layout";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex align-items-center">
            <h3 class="page-title">@ViewBag.Title</h3>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Brand" asp-action="Index">@ViewBag.Title</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Localizer.GetLocalizedString("btn_Index")</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-lg btn-block btn-outline-success" style="margin-bottom: 5px;" data-toggle="ajax-modal" data-url="@Url.Action("Create")">
                        <i class="mdi mdi-library-plus" style="color: green"></i>@Localizer.GetLocalizedString("btn_Create")
                    </a>
                    <div class="table-responsive">
                        <table id="zero_config" class="table table-hover table-striped">
                            <thead class="thead-dark">
                            <tr>
                                <th style="text-align: center;">@BrandLocalizer.GetLocalizedString("lbl_No")</th>
                                <th style="text-align: center;">@BrandLocalizer.GetLocalizedString("lbl_BrandName")</th>
                                <th style="text-align: center;">@BrandLocalizer.GetLocalizedString("lbl_Action")</th>
                            </tr>
                            </thead>
                            <tbody>
                            @{ var stt = 0;}
                            @foreach (var item in Model)
                            {
                                stt += 1;
                                <tr>
                                    <td style="text-align: center;">
                                        @stt
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BrandName)
                                    </td>
                                    <td style="text-align: center;">
                                        <a data-toggle="ajax-modal" data-url="@Url.Action("Edit", new {id = item.Id})">
                                            <i class="mdi mdi-grease-pencil" style="font-size: 24px; color: black"></i>
                                        </a>
                                        <a asp-action="Delete" asp-route-id="@item.Id"
                                           onclick="return confirm('@BrandLocalizer.GetLocalizedString("msg_DeleteBrand")');">
                                            <i class="fa fa-trash" style="font-size: 24px; color: red; padding-left: 5px;"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>