@{
    ViewData["Title"] = Localizer.GetLocalizedString("Home");
}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex align-items-center">
            <h3 class="page-title">@ViewBag.Title</h3>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a  asp-controller="Home" asp-action="Index">@ViewBag.Title</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h1 class="display-4">@Localizer.GetLocalizedString("Welcome")</h1>
                        <p>@Localizer.GetLocalizedString("Learn about")<a href="https://docs.microsoft.com/aspnet/core">@Localizer.GetLocalizedString(" building Web apps with ASP.NET Core")</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>