<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <title>@ViewData["Title"] - Huấn Hoàng</title>
    <link rel="stylesheet" type="text/css" href="~/assets/extra-libs/multicheck/multicheck.css">
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/dist/css/style.min.css" rel="stylesheet">
    <link href="~/assets/libs/toastr/build/toastr.min.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>

<body>
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<div id="main-wrapper">
    <header class="topbar" data-navbarbg="skin5">
        @await Html.PartialAsync("_LoginPartial")
    </header>
    <aside class="left-sidebar" data-sidebarbg="skin5">
        <!-- Sidebar scroll-->
        @await Html.PartialAsync("_NavigationPartial")
        <!-- End Sidebar scroll-->
    </aside>
    <div class="page-wrapper">
        
        @if (TempData["SuccessMessage"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    toastr.success("@TempData["SuccessMessage"]","@Localizer.GetLocalizedString("msg_Success")");
                };
            </script>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    toastr.error("@TempData["ErrorMessage"]","@Localizer.GetLocalizedString("msg_Error")");
                };
            </script>
        }
@*         @if (ViewData["ErrorMessage"] != null) *@
@*         { *@
@*             <script type="text/javascript"> *@
@*                 window.onload = function () { *@
@*                     toastr.error("@ViewData["ErrorMessage"]","@Localizer.GetLocalizedString("msg_Error")"); *@
@*                 }; *@
@*             </script> *@
@*         } *@
        
        @RenderBody()
                              
        <!-- Modal placeholder -->
        <div id="modal-placeholder"></div>

        <!-- Footer -->
        <footer class="footer text-center">
            Used by <a href="#">Huấn Hoàng</a>.
        </footer>
        <!-- End footer -->
    </div>
</div>
    
<!-- All Jquery -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<!--===============================================================================================-->
<!-- Bootstrap tether Core JavaScript -->
<script src="~/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="~/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="~/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="~/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="~/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="~/dist/js/custom.min.js"></script>
<!-- this page js -->
<script src="~/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
<script src="~/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
<script src="~/assets/extra-libs/DataTables/datatables.min.js"></script>
<script src="~/assets/libs/toastr/build/toastr.min.js"></script>
<!-- Custom js -->
<script src="~/lib/js/site.js"></script>
<script>
    $('#zero_config').DataTable();
</script>
@RenderSection("Scripts", required: false)

</body>

</html>