<div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
        <ul id="sidebarnav" class="p-t-30">
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect sidebar-link" asp-controller="Home" asp-action="Index" aria-expanded="false">
                    <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">@Localizer.GetLocalizedString("btn_Home")</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect  sidebar-link" asp-controller="Home" asp-action="Privacy" aria-expanded="false">
                    <i class="mdi mdi-lock"></i><span class="hide-menu">@Localizer.GetLocalizedString("btn_Privacy")</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect sidebar-link" asp-controller="Brand" asp-action="Index" aria-expanded="false">
                    <i class="mdi mdi-source-branch"></i><span class="hide-menu">@Localizer.GetLocalizedString("btn_Brand")</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect sidebar-link" asp-controller="Category" asp-action="Index" aria-expanded="false">
                    <i class="mdi mdi-view-list"></i><span class="hide-menu">@Localizer.GetLocalizedString("btn_Category")</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect sidebar-link" asp-controller="Product" asp-action="Index" aria-expanded="false">
                    <i class="mdi mdi-biohazard"></i><span class="hide-menu">@Localizer.GetLocalizedString("btn_Product")</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect sidebar-link" asp-controller="Stock" asp-action="Index" aria-expanded="false">
                    <i class="mdi mdi-store-24-hour"></i><span class="hide-menu">@Localizer.GetLocalizedString("btn_Stock")</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect sidebar-link" asp-controller="Store" asp-action="Index" aria-expanded="false">
                    <i class="mdi mdi-store"></i><span class="hide-menu">@Localizer.GetLocalizedString("btn_Store")</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect sidebar-link" asp-controller="User" asp-action="Index" aria-expanded="false">
                    <i class="mdi mdi-account-box"></i><span class="hide-menu">@Localizer.GetLocalizedString("btn_User")</span>
                </a>
            </li>
            
            
            @await Html.PartialAsync("_SelectLanguagePartial")
        </ul>
    </nav>
    <!-- End Sidebar navigation -->
</div>