@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

 <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
        <ul id="sidebarnav" class="p-t-30">
            <li class="sidebar-item"> 
                <a class="sidebar-link waves-effect sidebar-link" asp-controller="Home" asp-action="Index" aria-expanded="false">
                    <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">@Localizer["Home"]</span>
                </a>
            </li>
            <li class="sidebar-item"> 
                <a class="sidebar-link waves-effect  sidebar-link" asp-controller="Home" asp-action="Privacy" aria-expanded="false">
                    <i class="mdi mdi-lock"></i><span class="hide-menu">@Localizer["Privacy"]</span>
                </a>
            </li>
            <li class="sidebar-item"> 
                <a class="sidebar-link waves-effect  sidebar-link" asp-controller="User" asp-action="Index" aria-expanded="false">
                    <i class="mdi mdi-account"></i><span class="hide-menu">@Localizer["User"]</span>
                </a>
            </li>
            <li class="sidebar-item"> 
                <a class="sidebar-link waves-effect  sidebar-link" asp-controller="Store" asp-action="Index" aria-expanded="false">
                    <i class="mdi mdi-store"></i><span class="hide-menu">@Localizer["Store"]</span>
                </a>
            </li>
            <li class="sidebar-item"> 
                <a class="sidebar-link waves-effect  sidebar-link" asp-controller="Brand" asp-action="Index" aria-expanded="false">
                    <i class="mdi mdi-source-branch"></i><span class="hide-menu">@Localizer["Brand"]</span>
                </a>
            </li>
            <li class="sidebar-item"> 
                <a class="sidebar-link waves-effect  sidebar-link" asp-controller="Category" asp-action="Index" aria-expanded="false">
                    <i class="mdi mdi-format-list-bulleted-type"></i><span class="hide-menu">@Localizer["Category"]</span>
                </a>
            </li>
            <li class="sidebar-item"> 
                <a class="sidebar-link waves-effect  sidebar-link" asp-controller="Product" asp-action="Index" aria-expanded="false">
                    <i class="mdi mdi-tshirt-crew"></i><span class="hide-menu">@Localizer["Product"]</span>
                </a>
            </li>
            <li class="sidebar-item"> 
                <a class="sidebar-link waves-effect  sidebar-link" asp-controller="Stock" asp-action="Index" aria-expanded="false">
                    <i class="mdi mdi-store-24-hour"></i><span class="hide-menu">@Localizer["Stock"]</span>
                </a>
            </li>
            @await Html.PartialAsync("_SelectLanguagePartial")
        </ul>
    </nav>
    <!-- End Sidebar navigation -->
</div>

