@using LoggingCodefirst.Services
@model IEnumerable<StockViewModel>
@{
    ViewBag.Title = Localizer.GetLocalizedString("ctr_Stock");
    Layout = "_Layout";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex align-items-center">
            <h3 class="page-title">@ViewBag.Title</h3>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Stock" asp-action="Index">@ViewBag.Title</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Localizer.GetLocalizedString("act_Index")</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <a data-toggle="ajax-modal" data-url="@Url.Action("Create")">
                        <i class="mdi mdi-library-plus" style="font-size: 24px; color: black"></i>@Localizer.GetLocalizedString("btn_Create")
                    </a>                    
                    <div class="table-responsive">
                        <table id="zero_config" class="table table-hover table-striped">
                            <thead class="thead-dark">
                            <tr>
                                <th style="text-align: center;">@Localizer.GetLocalizedString("lbl_No")</th>
                                <th style="text-align: center;">@Html.DisplayNameFor(model => model.Store)</th>
                                <th style="text-align: center;">@Html.DisplayNameFor(model => model.Product)</th>
                                <th style="text-align: center;">@Html.DisplayNameFor(model => model.Quantity)</th>
                                <th style="text-align: center;">@Localizer.GetLocalizedString("lbl_Action")</th>
                            </tr>
                            </thead>
                            <tbody>
                            @{ var stt = 0;}
                            @foreach (var item in Model)
                            {
                                stt += 1;
                                <tr>
                                    <td style="text-align: center;">
                                        @stt
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Store.StoreName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Product.ProductName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td style="text-align: center;">
                                        <a data-toggle="ajax-modal" data-url="@Url.Action("Edit", new {productid = item.ProductId, storeid = item.StoreId})">
                                            <i class="mdi mdi-grease-pencil" style="font-size: 24px; color: black"></i>
                                        </a>
                                        <a asp-action="Delete" asp-route-productid="@item.ProductId" asp-route-storeid="@item.StoreId"
                                           onclick="return confirm('@Localizer.GetLocalizedString("msg_del_Stock")');">
                                            <i class="fa fa-trash" style="font-size: 24px; color: red"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>